__pycache__/
.venv/
*.egg-info/

Data/
metadata/subjects/
pretrained_models/

saved_models/
paper2601_splitmae_runs/
paper2601_splitmae_runs*/
paper2601_local_artifacts/
.paper2601_pydeps/
paper2601_static_131_features*/
Preproc/

*.xlsx
*.pt
*.pth
